@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

a {
  color: #666;
  text-decoration: none;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

button {
  padding: 8px 16px;
}

/*.left-links {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  align-items: center;
  padding: 8px;
  justify-content: flex-start;
}

.right-links {
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  align-items: center;
  padding: 8px;
  justify-content: flex-end;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}*/